body {
    background-color: tan;
}

p, h1 {
    color: red;
    /*background-color: bisque;*/
}

.container, #reset {
    background-color: darkgoldenrod;
    height: 500px;
    width: 80%;
    horiz-align: center;
}

#reset {
    color: greenyellow;
}

input[type="text"] {
    color: mediumorchid;
    background-color: #fff1f9;
}

input[type="date"] {
    color: sandybrown;

}